.App {
  /*
  padding: 0px;
  margin: 0px;
  border: 0px;
  */
  background-color: rgb(238, 237, 237);
}

.AppLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Налаштування висоти на весь екран */
}

.AppRegister{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Налаштування висоти на весь екран */
}
